<p id="notice"><%= notice %></p>
<h1>Building details</h1>
<!-- <table>
  <thead>
    <tr>
      <th>Building</th>
      <th></th>
      <th>Rent</th>
      <th></th>
      <th>Address</th>
      <th></th>
      <th>Building age</th>
      <th></th>
      <th>Feedbacks</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody> -->
<h3>Building: <%=@building.building %></h3>

<h3>Rent: <%= @building.rent %>yen</h3>

<h3>Address: <%= @building.address %></h3>

<h3>Building age: <%= @building.building_age %> years</h3>

<h3>Remarks: <%=@building.feedbacks %></h3>

<hr>

<%= link_to 'Edit', edit_building_path(@building)%>
|
<%= link_to 'Return to Home', buildings_path %>
